Repository akshay-greenlang/Code-V1_GreenLang: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, validate-pack-yaml, check-hardcoded-secrets, validate-agent-config, validate-migrations

Path conditions:
  version-sync: any of: ^(pyproject\.toml|greenlang/__init__\.py)$
  validate-pack-yaml: any of: ^.*pack\.yaml$
  check-hardcoded-secrets: any of: \.py$
  validate-agent-config: any of: ^.*agents\/.*\/pack\.yaml$
  validate-migrations: any of: ^.*migrations\/.*\.py$

Fix import compatibility for models and intelligence modules
  greenlang/data/models/__init__.py
  tests/agents/test_carbon_agent_ai.py
Due: check-hardcoded-secrets

Update README with comprehensive codebase analysis
  README.md
Due: none

chore: Complete GitHub repository cleanup
  .ralphy/cleanup_summary.txt
  .ralphy/config.yaml
  scripts/github_api_cleanup.py
Due: check-hardcoded-secrets

feat: Add comprehensive security audit and bulk dismiss scripts
  scripts/bulk_dismiss_alerts.py
  scripts/dismiss_remaining.py
  scripts/security_audit.py
  scripts/security_full_audit.py
Due: check-hardcoded-secrets

chore: Update cleanup progress and add continuation script
  .ralphy/cleanup_summary.txt
  scripts/continue_security_cleanup.py
Due: check-hardcoded-secrets

update
  .claude/settings.local.json
  scripts/get_git_creds.py
Due: check-hardcoded-secrets

update
  .claude/settings.local.json
  .ralphy/cleanup_summary.txt
  dismiss_alerts.py
Due: check-hardcoded-secrets

update
  greenlang/config/greenlang_registry/pyproject.toml
  greenlang/config/greenlang_registry/requirements.txt
  greenlang/integration/api/requirements.txt
  scripts/complete_cleanup.py
  scripts/dismiss_dependabot_alerts.py
Due: check-hardcoded-secrets

fix(security): Address HIGH and MEDIUM severity vulnerabilities
  .env.template
  config/requirements-pinned.txt
  docs/planning/greenlang-2030-vision/agent_foundation/requirements-frozen.txt
  docs/planning/greenlang-2030-vision/agent_foundation/requirements.txt
  pyproject.toml
Due: version-sync

fix(security): Address additional BLOCKER vulnerabilities
  applications/GL-Agent-Factory/k8s/backup/postgres-backup-secret.yaml
  config/requirements.txt
  docs/planning/greenlang-2030-vision/agent_foundation/requirements-frozen.txt
  greenlang/ecosystem/hub/auth.py
Due: check-hardcoded-secrets

update
  .claude/settings.local.json
Due: none

update
  data/migrations/001_timescaledb_extension.sql
  deployment/infrastructure/dr/disaster-recovery-runbook.yaml
  deployment/infrastructure/finops/cost-management.yaml
  deployment/infrastructure/k8s/database/timescaledb-config.yaml
  deployment/infrastructure/k8s/production/vpa-production.yaml
  deployment/infrastructure/k8s/security/istio-gateway-tls.yaml
  deployment/infrastructure/security/cis-benchmark.yaml
  greenlang/execution/core/artifact_manager.py
  greenlang/execution/core/storage/__init__.py
  greenlang/execution/core/storage/s3_client.py
  tests/load/k6/load-test-api.js
Due: check-hardcoded-secrets

fix(security): Update 28 vulnerable dependencies across all requirements files
  applications/GL Agents/GL-001_Thermalcommand/api/requirements.txt
  applications/GL Agents/GL-001_Thermalcommand/requirements.txt
  applications/GL Agents/GL-002_Flameguard/requirements.txt
  applications/GL Agents/GL-003_UnifiedSteam/deployment/requirements.txt
  applications/GL Agents/GL-005_Combusense/requirements.txt
  applications/GL Agents/GL-006_HEATRECLAIM/requirements.txt
  applications/GL Agents/GL-007_FurnacePulse/requirements.txt
  applications/GL Agents/GL-008_Trapcatcher/requirements.txt
  applications/GL Agents/GL-009_ThermalIQ/requirements.txt
  applications/GL Agents/GL-010_EmissionGuardian/requirements.txt
  applications/GL Agents/GL-011_FuelCraft/requirements.txt
  applications/GL Agents/GL-016_Waterguard/requirements.txt
  applications/GL Agents/GL-017_Condensync/requirements.txt
  applications/GL-Agent-Factory/requirements-dev.txt
  applications/GL-Agent-Factory/requirements.txt
  applications/GL-CBAM-APP/CBAM-Importer-Copilot/requirements.txt
  applications/GL-CSRD-APP/CSRD-Reporting-Platform/requirements-pinned.txt
  applications/GL-CSRD-APP/CSRD-Reporting-Platform/requirements.txt
  applications/GL-VCCI-Carbon-APP/VCCI-Scope3-Platform/requirements.txt
  config/requirements-pinned.txt
  config/requirements-test.txt
  config/requirements.txt
  docs/planning/greenlang-2030-vision/agent_foundation/pyproject.toml
  docs/planning/greenlang-2030-vision/agent_foundation/requirements.txt
  greenlang/config/greenlang_registry/pyproject.toml
  greenlang/config/greenlang_registry/requirements.txt
  greenlang/integration/api/requirements.txt
  greenlang/monitoring/requirements.txt
  pyproject.toml
Due: version-sync

update
  .claude/settings.local.json
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-001_Supply_Chain_Mapper_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-002_Geolocation_Collector_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-003_Commodity_Traceability_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-004_Supplier_Verification_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-005_Plot_Registry_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-006_Origin_Declaration_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-007_Chain_of_Custody_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-008_Batch_Tracking_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-009_Transportation_Tracking_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-010_Warehouse_Tracking_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-011_Processing_Facility_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-012_Mass_Balance_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-013_Segregation_Compliance_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-014_Traceability_Audit_Agent.md
  GreenLang_Agents_PRD_402/PRD_GL-EUDR-015_Supply_Chain_Risk_Agent.md
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/__init__.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/agent.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/audit.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/auth.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/database.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/llm_service.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/models.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/router.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/test_agent.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/test_audit.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/test_auth.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/test_llm_service.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_001_supply_chain_mapper/test_router.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/__init__.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/agent.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/bulk_upload.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/database.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/llm_service.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/router.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/spatial.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/test_agent.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/test_router.py
  applications/GL-Agent-Factory/backend/agents/gl_eudr_002_geolocation_collector/test_spatial.py
Due: check-hardcoded-secrets

update
  .github/workflows/smoke-test.yml
  PRD-Feb2026.md
  README.md
  docs/demo/README.md
  docs/demo/asciinema-config.json
  docs/demo/demo-script.sh
  docs/demo/expected-output/emissions.json
  docs/demo/narration.md
  docs/demo/sample-data/cbam_shipment.json
  docs/quickstart/cbam-workflow.md
  docs/release/release-checklist-v030.md
  docs/specs/determinism-contract-v1.0.md
  docs/specs/execution-model-v1.0.md
  docs/specs/factor-unit-contract-v1.0.md
  docs/specs/pack-spec-v1.0.md
  docs/specs/provenance-contract-v1.0.md
  greenlang/execution/core/orchestrator.py
  greenlang/specs/schemas/pack-v1.0.schema.json
  greenlang/specs/schemas/pipeline-v1.0.schema.json
  pyproject.toml
  scripts/smoke_test.ps1
  scripts/smoke_test.sh
  tests/smoke/__init__.py
  tests/smoke/conftest.py
  tests/smoke/test_release_smoke.py
  tests/test_determinism_contract.py
  tests/test_safe_evaluator.py
  tests/test_schema_validation.py
Due: version-sync, check-hardcoded-secrets
