Repository akshay-greenlang/Code-V1_GreenLang: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, validate-pack-yaml, check-hardcoded-secrets, validate-agent-config, validate-migrations

version-sync:
  name: Sync version numbers
  entry: python scripts/sync_version.py
  language: python
  pass_filenames: false

validate-pack-yaml:
  name: Validate GreenLang Pack.yaml Schema
  entry: python scripts/pre-commit/check-greenlang-spec.py
  language: system
  pass_filenames: true

check-hardcoded-secrets:
  name: Check for Hardcoded Secrets
  entry: python scripts/pre-commit/check-security.py
  language: system
  pass_filenames: true

validate-agent-config:
  name: Validate Agent Configuration
  entry: python scripts/pre-commit/validate-agent-config.py
  language: system
  pass_filenames: true

validate-migrations:
  name: Validate Database Migrations
  entry: python scripts/pre-commit/validate-migrations.py
  language: system
  pass_filenames: true

factors: pre-Phase-0 audit cleanup (URN spec compliance + worktree triage)
  .gitignore
  _archive/12_phase0_audit_2026_04_26/README.md
  _archive/12_phase0_audit_2026_04_26/_tmp_factors_doc.txt
  _archive/12_phase0_audit_2026_04_26/_tmp_factors_doc_full.txt
  _archive/12_phase0_audit_2026_04_26/_tmp_probe_resolve.py
  _archive/12_phase0_audit_2026_04_26/_tmp_roadmap_doc.txt
  config/schemas/factor_record_v0_1.schema.json
  docs/factors/PHASE_0_AUDIT_2026_04_26.md
  greenlang/factors/data/catalog_seed_v0_1/cbam_default_values/v1.json
  greenlang/factors/data/catalog_seed_v0_1/desnz_ghg_conversion/v1.json
  greenlang/factors/data/catalog_seed_v0_1/egrid/v1.json
  greenlang/factors/data/catalog_seed_v0_1/epa_hub/v1.json
  greenlang/factors/data/catalog_seed_v0_1/india_cea_co2_baseline/v1.json
  greenlang/factors/data/catalog_seed_v0_1/ipcc_2006_nggi/v1.json
  greenlang/factors/etl/alpha_v0_1_normalizer.py
  scripts/factors_alpha_v0_1_lowercase_urns.py
  tests/factors/v0_1_alpha/test_alpha_v0_1_normalizer.py
  tests/factors/v0_1_alpha/test_partner_in_export_calc.py
  tests/factors/v0_1_alpha/test_seed_urns_canonical_parse.py
Due: check-hardcoded-secrets

factors: Phase 0 — product framing + operating setup (governance baseline)
  docs/factors/PHASE_0_EXIT_CHECKLIST.md
  docs/factors/adr/ADR-001-greenlang-factors-source-of-truth.md
  docs/factors/adr/ADR-002-pack-urn-version-segments.md
  docs/factors/adr/ADR-003-ghgp-method-references-citation-vs-data-split.md
  docs/factors/design-partners/DESIGN_PARTNER_TRACKER.md
  docs/factors/design-partners/PARTNER_FEEDBACK_MEMO_TEMPLATE.md
  docs/factors/design-partners/V0_1_PARTNER_PLAN.md
  docs/factors/design-partners/V0_5_PARTNER_PIPELINE.md
  docs/factors/design-partners/V1_0_PRODUCTION_INTENT_PARTNERS.md
  docs/factors/engineering/ENGINEERING_CHARTER.md
  docs/factors/epics/README.md
  docs/factors/epics/epic-v0.1-alpha.md
  docs/factors/epics/epic-v0.5-closed-beta.md
  docs/factors/epics/epic-v0.9-public-beta.md
  docs/factors/epics/epic-v1.0-ga.md
  docs/factors/epics/epic-v1.5.md
  docs/factors/epics/epic-v2.0.md
  docs/factors/epics/epic-v2.5.md
  docs/factors/epics/epic-v3.0.md
  docs/factors/governance/SOURCE_OF_TRUTH_GOVERNANCE.md
  docs/factors/operating-model/OPERATING_MODEL.md
  docs/factors/operating-model/RACI.md
  docs/factors/product/MASTER_PRD.md
  docs/factors/release-templates/ACCEPTANCE_CHECKLIST_TEMPLATE.md
  docs/factors/release-templates/CUSTOMER_IMPACT_TEMPLATE.md
  docs/factors/release-templates/README.md
  docs/factors/release-templates/RELEASE_MANIFEST_TEMPLATE.md
  docs/factors/release-templates/SOURCE_MANIFEST_TEMPLATE.md
  docs/factors/release-templates/TEST_REPORT_TEMPLATE.md
  docs/factors/roadmap/GreenLang_Climate_OS_Roadmap_FY27_FY31_CTO_Final.docx
  docs/factors/roadmap/GreenLang_Factors_FY27_FY31_Source_of_Truth.docx
  docs/factors/roadmap/SOURCE_OF_TRUTH_MANIFEST.md
Due: none

factors: Phase 1 — source rights, source registry, and licensing
  config/entitlements/alpha_v0_1.yaml
  config/schemas/source_registry_v0_1.schema.json
  deployment/database/migrations/sql/V500__factors_v0_1_canonical.sql
  docs/factors/PHASE_1_EXIT_CHECKLIST.md
  docs/factors/source-rights/SOURCE_RIGHTS_MATRIX.md
  docs/factors/source-rights/legal-notes/README.md
  docs/factors/source-rights/legal-notes/cbam_default_values.md
  docs/factors/source-rights/legal-notes/desnz_ghg_conversion.md
  docs/factors/source-rights/legal-notes/egrid.md
  docs/factors/source-rights/legal-notes/epa_hub.md
  docs/factors/source-rights/legal-notes/ghgp_method_refs.md
  docs/factors/source-rights/legal-notes/india_cea_co2_baseline.md
  docs/factors/source-rights/legal-notes/ipcc_2006_nggi.md
  docs/factors/v0_1_alpha/PROVENANCE-BACKFILL-REPORT.md
  docs/factors/v0_1_alpha/methodology-exceptions/desnz_ghg_conversion_v2024.1.md
  docs/factors/v0_1_alpha/methodology-exceptions/egrid_v2022.1.md
  docs/factors/v0_1_alpha/methodology-exceptions/epa_hub_v2024.1.md
  greenlang/factors/api_v0_1_alpha_routes.py
  greenlang/factors/data/source_registry.yaml
  greenlang/factors/release/alpha_publisher.py
  greenlang/factors/rights/__init__.py
  greenlang/factors/rights/audit.py
  greenlang/factors/rights/entitlements.py
  greenlang/factors/rights/errors.py
  greenlang/factors/rights/service.py
  greenlang/factors/sdk/RELEASE_NOTES_v0.1.0.md
  greenlang/factors/source_registry.py
  scripts/factors_phase1_add_missing_placeholders.py
  scripts/factors_phase1_approve_v0_1_sources.py
  scripts/factors_phase1_migrate_source_registry.py
  tests/factors/v0_1_alpha/_e2e_helpers.py
  tests/factors/v0_1_alpha/conftest.py
  tests/factors/v0_1_alpha/test_alpha_factor_repository.py
  tests/factors/v0_1_alpha/test_alpha_provenance_gate.py
  tests/factors/v0_1_alpha/test_alpha_publisher.py
  tests/factors/v0_1_alpha/test_alpha_source_snapshots.py
  tests/factors/v0_1_alpha/test_factor_record_v0_1_schema_loads.py
  tests/factors/v0_1_alpha/test_source_registry_alpha_completeness.py
  tests/factors/v0_1_alpha/test_source_rights_phase1_followups.py
  tests/factors/v0_1_alpha/test_source_rights_service.py
Due: check-hardcoded-secrets

update
  .claude/scheduled_tasks.lock
Due: none

repo: integrate factors alpha and repair master gates
  .github/workflows/acceptance-golden-tests.yml
  .github/workflows/ci-main.yml
  .github/workflows/code-governance.yml
  .github/workflows/factors-tests.yml
  .github/workflows/factors_ci.yml
  .github/workflows/pre-commit.yml
  VERSION
  greenlang/factors/api_v0_1_alpha_routes.py
  greenlang/factors/rights/audit.py
  greenlang/factors/rights/entitlements.py
  greenlang/factors/rights/service.py
  policies/greenlang-first/policy.rego
  policies/greenlang-first/policy_test.rego
  policies/guardrails/policy.rego
  policies/guardrails/policy_test.rego
  policies/root.rego
  pyproject.toml
  scripts/check_magic_numbers.py
  tests/factors/v0_1_alpha/test_source_rights_phase1_followups.py
  tests/factors/v0_1_alpha/test_source_rights_service.py
Due: version-sync, check-hardcoded-secrets

ci: skip agents matrix when no agents changed
  .github/workflows/agents-ci.yml
Due: none

ci: pin alpha factors test dependencies
  pyproject.toml
Due: version-sync

ci: install build for governance determinism
  .github/workflows/code-governance.yml
Due: none

repo: stabilize master security and metadata
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dast-scan.yml
  .github/workflows/factors-alpha-perf.yml
  .github/workflows/scheduled-maintenance.yml
  .github/workflows/unified-security-scan.yml
  .gitleaks.toml
  README.md
  config/requirements-dev.in
  frontend/package.json
  greenlang/factors/sdk/python/verify.py
  package-lock.json
  package.json
  pyproject.toml
  tests/factors/v0_1_alpha/_partner_helpers.py
  tests/factors/v0_1_alpha/test_partner_in_export_calc.py
Due: version-sync, check-hardcoded-secrets

deps: consolidate active frontend updates
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

ci: quarantine future v2 frontend gate
  .github/workflows/v2-frontend-ux-ci.yml
Due: none

ci: fix active security scan gates
  .github/workflows/unified-security-scan.yml
Due: none

update
  .claude/settings.local.json
  artifacts/gold_eval_summary.json
Due: none

ci: close phase2 master readiness blockers
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-build.yml
  docs/factors/PHASE_2_EXIT_CHECKLIST.md
  pyproject.toml
  scripts/factors/phase2_backfill_factor_aliases.py
Due: version-sync, check-hardcoded-secrets

ci: scope docs link checks to active release
  .github/workflows/docs-build.yml
  docs/factors/sdk.md
Due: none

ci: fix docker image ref and docs links
  .github/workflows/docker-build.yml
  docs/factors/QUICKSTART.md
Due: none

ci: repair docs lint and docker triggers
  .github/workflows/docker-build.yml
  .github/workflows/docs-build.yml
  .markdownlint.json
Due: none

ci: relax docs lint backlog gates
  .github/workflows/docs-build.yml
  .markdownlint.json
Due: none

factors: Phase 2 — close coverage gap + annotate exit checklist with evidence
  docs/factors/PHASE_2_EXIT_CHECKLIST.md
  tests/factors/v0_1_alpha/phase2/test_ontology_loader_branches.py
  tests/factors/v0_1_alpha/phase2/test_publish_gates_branches.py
Due: check-hardcoded-secrets

update
  .claude/settings.local.json
Due: none

docs(factors): fix markdownlint MD037 in PHASE_2_EXIT_CHECKLIST
  docs/factors/PHASE_2_EXIT_CHECKLIST.md
Due: none

factors: Phase 3 Wave 1.0 — raw ingestion framework foundations
  deployment/database/migrations/sql/V507__factors_v0_1_phase3_ingestion_runs.sql
  deployment/database/migrations/sql/V507__factors_v0_1_phase3_ingestion_runs_DOWN.sql
  deployment/database/migrations/sql/V508__factors_v0_1_phase3_ingestion_run_diffs.sql
  deployment/database/migrations/sql/V508__factors_v0_1_phase3_ingestion_run_diffs_DOWN.sql
  docs/factors/PHASE_3_EXIT_CHECKLIST.md
  docs/factors/PHASE_3_PLAN.md
  greenlang/cli/main.py
  greenlang/factors/cli_ingest.py
  greenlang/factors/ingestion/__init__.py
  greenlang/factors/ingestion/diff.py
  greenlang/factors/ingestion/exceptions.py
  greenlang/factors/ingestion/pipeline.py
  greenlang/factors/ingestion/run_repository.py
  greenlang/factors/ingestion/runner.py
  greenlang/factors/ingestion/sqlite_phase3_ddl.py
  migrations/versions/0008_factors_v0_1_phase3_ingestion_runs.py
  migrations/versions/0009_factors_v0_1_phase3_ingestion_run_diffs.py
  tests/factors/v0_1_alpha/phase3/__init__.py
  tests/factors/v0_1_alpha/phase3/conftest.py
  tests/factors/v0_1_alpha/phase3/parser_snapshots/__init__.py
  tests/factors/v0_1_alpha/phase3/parser_snapshots/_helper.py
  tests/factors/v0_1_alpha/phase3/parser_snapshots/test_snapshot_framework_smoke.py
  tests/factors/v0_1_alpha/phase3/test_cli_subcommands.py
  tests/factors/v0_1_alpha/phase3/test_diff_review_decidable.py
  tests/factors/v0_1_alpha/phase3/test_diff_serialization_deterministic.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_artifact_required.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_dedupe_supersede.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_e2e_happy_path.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_invalid_ontology_blocked.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_licence_blocked.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_parser_failure_records_failed_run.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_publish_atomic.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_rollback_demotes_not_deletes.py
Due: check-hardcoded-secrets, validate-migrations

factors: Phase 3 Wave 1.5 — DEFRA Excel reference end-to-end + Typer unblock
  greenlang/cli/cmd_policy.py
  greenlang/factors/data/source_registry.yaml
  greenlang/factors/ingestion/parsers/_phase3_adapters.py
  greenlang/factors/ingestion/runner.py
  tests/factors/v0_1_alpha/phase3/conftest.py
  tests/factors/v0_1_alpha/phase3/fixtures/__init__.py
  tests/factors/v0_1_alpha/phase3/fixtures/_build_defra_fixture.py
  tests/factors/v0_1_alpha/phase3/fixtures/defra_2025_mini.xlsx
  tests/factors/v0_1_alpha/phase3/parser_snapshots/defra_2025__0.1.0.golden.json
  tests/factors/v0_1_alpha/phase3/test_defra_reference_e2e.py
Due: check-hardcoded-secrets

factors: Phase 3 Wave 3.0 — CI gates + source-safety runtime helper
  .github/workflows/factors-ingestion-check.yml
  docs/factors/PHASE_3_EXIT_CHECKLIST.md
  docs/factors/source-registry/CHANGELOG.md
  greenlang/factors/ingestion/runner.py
  greenlang/factors/ingestion/source_safety.py
  scripts/ci/check_ingestion_bypass.py
  scripts/ci/check_parser_snapshot_drift.py
  scripts/ci/check_pending_legal_blocked.py
  scripts/ci/check_raw_artifact_metadata.py
  scripts/ci/check_source_registry_version.py
  tests/ci/__init__.py
  tests/ci/test_check_ingestion_bypass.py
  tests/ci/test_check_parser_snapshot_drift.py
  tests/ci/test_check_pending_legal_blocked.py
  tests/ci/test_check_raw_artifact_metadata.py
  tests/ci/test_check_source_registry_version.py
  tests/ci/test_source_safety_helper.py
Due: check-hardcoded-secrets

factors: Phase 3 audit close-out — all blocks GREEN
  deployment/database/migrations/sql/V510__factors_v0_1_phase3_source_artifacts_full_contract.sql
  deployment/database/migrations/sql/V510__factors_v0_1_phase3_source_artifacts_full_contract_DOWN.sql
  greenlang/factors/cli_ingest.py
  greenlang/factors/ingestion/run_repository.py
  greenlang/factors/ingestion/runner.py
  greenlang/factors/repositories/alpha_v0_1_repository.py
  migrations/versions/0011_factors_v0_1_phase3_source_artifacts_full_contract.py
  tests/factors/v0_1_alpha/phase3/parser_snapshots/_helper.py
  tests/factors/v0_1_alpha/phase3/parser_snapshots/test_snapshot_framework_smoke.py
  tests/factors/v0_1_alpha/phase3/test_cli_ingest_branches.py
  tests/factors/v0_1_alpha/phase3/test_diff_branches.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_artifact_store_failure.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_resume_from_stage.py
  tests/factors/v0_1_alpha/phase3/test_pipeline_source_artifacts_full_contract.py
  tests/factors/v0_1_alpha/phase3/test_run_repository_atomic_transactions.py
  tests/factors/v0_1_alpha/phase3/test_run_repository_branches.py
  tests/factors/v0_1_alpha/phase3/test_runner_branches.py
Due: check-hardcoded-secrets, validate-migrations

docs(factors): Phase 3 exit checklist — 38/38 boxes ticked + per-block evidence
  docs/factors/PHASE_3_EXIT_CHECKLIST.md
Due: none

Path conditions:
  version-sync: any of: ^(pyproject\.toml|greenlang/__init__\.py)$
  validate-pack-yaml: any of: ^.*pack\.yaml$
  check-hardcoded-secrets: any of: \.py$
  validate-agent-config: any of: ^.*agents\/.*\/pack\.yaml$
  validate-migrations: any of: ^.*migrations\/.*\.py$
